.item{
    background-color: #526c95;
    padding: 25px 0;
    text-align: center;
    color: white;
}
.body {text-align: center;
    }
input {
    margin: 10px 0 ;
}
h1 {
    background-color: #526c95;
    color: rgb(15, 13, 13);
    padding: 10px;
}
#cont {
    margin-left: 20px;
}
#cont2 {
    margin-left: 10px;
}
input {
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

.line{
    text-align: center;
    color: rgb(9, 9, 9);
    font-weight: bold;
    margin: 30px 0;
}
.submit{
    text-align: center;
    font-weight: bold;
    margin: 30px 0;
}
.user-login-form{
    background-color: white;
    width: 60%;
    margin: 0 auto;
    padding: 16px 0;
}

.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

label{
    width: 150px;
}

#email,#password{   
    width: 220px;
    height: 30px;
}
button {
    background-color: #526c95;
    color: white;
    width: 150px;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.user-login-btn{
    background-color: #526c95;
    color: white;
    width: 150px;
    height: 44px;
    border-radius: 22px;
}

.form-row a{
  color: rgb(101, 101, 190);
  text-decoration: none;
}
.user-new{
    text-align: center;
    margin-top: 50px;
}
.user-new-btn{
    text-decoration: none;
    background-color: #40CD82;
    padding: 20px ;
    border-radius: 22px;
    color: black;
}