<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" th:href="@{/css/blog.css}">
</head>

<body>

    <h1>My Blog</h1>

    <div class="menu">
        <tr>
            <td><a href="#love">自己紹介</a></td>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <td><a href="#you">記事</a></td>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <td><a href="#hao">作品</a></td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td><button>Register</button></td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td><button>Edit</button></td>
        </tr>
    </div>

    <h2 id="love">自己紹介</h2>

    <div class="item">
        <table cellspacing="40">

            <img th:src="@{/image/haibao.jpg}" width="35%">

            <tr>
                <td width="100">姓名:</td>
                <td width="300">fanyi</td>
            </tr>

            <tr>
                <td>住所:</td>
                <td>新潟市</td>
            </tr>

            <tr>
                <td>趣味</td>
                <td>旅行、プログラミング、バトミントン、ピアノ</td>
            </tr>

            <tr>
                <td>好きな動物</td>
                <td>アザラシ、犬</td>
            </tr>

        </table>
    </div>

    <h2 class="line" id="you">記事</h2>

    <div class="new">
        <img th:src="@{/image/keai.jpg}" width="30%">
        <p>
            &nbsp;&nbsp;Mew (Japanese: ミュウ , Hepburn: Myū) is one of the fictional species of creatures from
            Nintendo's and
            Game
            Freak's Pokémon
            media franchise created by Satoshi Tajiri. Mew is a small, pink, Psychic-type Mythical Pokémon.
            <br>&nbsp;&nbsp;
            It was added to Pokémon Red and Blue by its creator, Game Freak programmer Shigeki Morimoto, as an
            intended obtainable
            Pokemon. However, due to a lack of cartridge space, and the inability to write/add additional
            storyline/plot points to
            lead up to an in-game encounter with the Pokemon, it was ultimately not published within the game.
            <br>&nbsp;&nbsp;It
            was still viewable
            within the game's background data, which led to the assumption and ultimate confirmation that it was
            originally intended
            to be released/published within the game. As such, its presence within the game's background data
            has
            been surrounded by
            rumors and myths, which contributed to making the Pokémon franchise a success. For years, Mew could
            not
            be legitimately
            obtained in the games except through Pokémon distribution events or via glitches.
        </p>
    </div>

    <h2 class="box" id="hao">作品</h2>

    <div class="nav">
        <img th:src="@{/image/xiao.jpg}" width="33%">
        <img th:src="@{/image/ai.jpg}" width="33%">
        <img th:src="@{/image/bao.jpg}" width="32%">
    </div>

    <p class="input">
        &nbsp;&nbsp;This is a Pokémon, a fictional creature from Nintendo and Game Freak. Created by Ken
        Sugimori, it debuted in the video
        games Pokémon Red and Blue, and later appeared in subsequent sequels and spin-off titles, such as Pokken
        Tournament. <br> &nbsp;&nbsp;In
        the video games, the player can fight and capture Mewtwo in order to subsequently pit it against other
        Pokémon.
    </p>

</body>

</html>