<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
    <form th:action="@{/login}" method="post">
        <div class="item">

            <h1>Login</h1>

            <div class="new">
                <label for="user">User name</label>
                <input type="text" placeholder="ユーザー名を入れてください" id="user" name="username">
            </div>

            <div class="new">
                <label for="pass">Password</label>
                <input type="password" placeholder="パスワードを入れてください" id="pass" name="password">
            </div>

            <div class="box">
                <label for="remember">Remember Me</label>
                <input type="checkbox" id="remember" name="remember">
            </div>

            <div>
                <br>
                <input type="submit" class="line" value="Login">
                <button class="line">Register</button>
            </div>

            <div>
                <a href="#">パスワードを忘れた方</a>
            </div>

        </div>
    </form>
</body>

</html>